:root {
    --Primary-Color: #004FE3;
    --Secondary-Color: #f85402;
    --Tertiary-color: #a4f390;
    --Dark-accent-color: #00102D;
    --Light-accent-color: #8eb4ff;
    --Lighter-accent-color: #f1f5ff;
    --Light-secondary-color: #ffa87d;
    --Lighter-secondary-color: #ffe8dc;
    --Neutral-Color: #4B4844;
    --Light-border-color: #E5E5E5;
    --Dark-border-color: #333333;
    --Screen-size: 640px;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

body {
    font-family: 'Work Sans', sans-serif;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

/* start of nav */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--Lighter-accent-color);
    cursor: pointer;
    position: absolute;
    top: 0rem;
    right: 1rem;
    z-index: 10;
}

#menu::before {
    content: "☰";
    font-size: 3rem;
}

#menu.open::before {
    content: "X";
    top: 2.6rem;
}

.navigation {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    gap: 1rem;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--Lighter-accent-color);
}

.navigation.open {
    display: flex;
}

.open a {
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: var(--Screen-size);
    background-color: var(--Dark-accent-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav svg {
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 30px;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    padding: 6px 0 0 0;
}

nav li {
    border-bottom: solid 1px var(--Light-border-color);
    padding: 6px 0 9px 0;
    width: 100%;
}

nav li:last-child {
    padding: 6px 0 9px 0;
    border-bottom: none;
}

nav a {
    text-decoration: none;
    color: var(--Dark-accent-color);
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:hover {
    color: var(--Secondary-Color);
}

/* end of nav */
/* start of header */
header {
    max-width: var(--Screen-size);
    background-color: var(--Primary-Color);
    color: white;
    text-align: center;
}

header section {
    max-width: var(--Screen-size);
    height: 80px;
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero-image {
    background-color: var(--Dark-accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://skriller22.github.io/wdd230/chamber/images/jezero-from-space.webp');
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.cta-button {
    max-width: 100px;
    text-align: center;
    position: relative;
    right: 20%;
    background-color: var(--Primary-Color);
    color: white;
    padding: 1rem 5rem 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--Secondary-Color);
}

.cta-button:focus {
    outline: none;
}

.cta-button {
    text-decoration: none;
}

/* End of Header */
/* Start of Main */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: white;
    max-width: var(--Screen-size);
    margin: 0 auto;
    padding: 1rem 0;
}

main section {
    margin-bottom: 1rem;
    grid-column: span 2;
}

#features {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.feature-tag {
    background-color: var(--Light-accent-color);
    color: var(--Dark-accent-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.feature-tag img {
    display: none;
}

.feature-tag:hover {
    background-color: var(--Light-secondary-color);
}

.feature-tag h2 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#about div {
    padding: 1rem;
    background-color: var(--Light-accent-color);
}

#about #weather-widget {
    background-color: var(--Tertiary-color);
    padding: 3.5rem 0 5px 0;
    border-radius: 50% 50% 1px 1px;
    width: 100%;
    text-align: center;
    border: solid 2px var(--Primary-Color);
    border-bottom: 0;
}

#about #events-widget {
    background-color: var(--Dark-accent-color);
    color: white;
    border-top: 5px solid black;
}

#about .event {
    background-color: var(--Lighter-accent-color);
    color: black;
    border-bottom: 1px solid var(--Light-border-color);
    border-radius: 5px;
}

#partners {
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#partners h2 {
    margin: 0 0 2rem 0;
}

#partners div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    min-width: 273px;
    max-width: 95%;
    margin-bottom: 8px;
    padding-right: 10px;
    background-color: var(--Lighter-accent-color);
    border-radius: 5px;
}

#partners div:hover {
    background-color: var(--Light-accent-color);
}

#partners div img {
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

/* Discover page */
.sidebarContainer {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
}

.sidebar {
    background-color: var(--Lighter-accent-color);
    border-radius: 5px;
    padding: 1rem;
    max-height: 100%;
    min-height: 500px;
}

.sidebar h2 {
    align-self: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#visits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
    max-height: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--Dark-accent-color);
    font-size: 1.2rem;
    font-weight: 700;
    border: solid 2px var(--Primary-Color);
}

#visits:hover {
    margin-top: -3px;
    margin-bottom: 13px;
}

#visits button {
    background-color: var(--Lighter-accent-color);
    color: var(--Dark-accent-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#visits button:hover {
    background-color: var(--Light-accent-color);
}

#highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#highlight p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

#events {
    display: grid;
    gap: 1rem;
    padding: 1rem 2rem;
}

#events h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.event {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--Light-accent-color);
    color: black;
    border-radius: 5px;
    min-height: 260px;
}

.event:hover {
    background-color: var(--Light-secondary-color);
}

.eventDetails {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.event img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

#statistics,
#demographics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#statistics h2,
#demographics h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#statistics ul,
#demographics ul {
    list-style: none;
    margin: 1rem;
}

#statistics li,
#demographics li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--Lighter-accent-color);
    color: var(--Dark-accent-color);
    border-radius: 5px;
}

#statistics div,
#demographics div {
    margin: 5px auto;
}

.statistic {
    font-weight: bold;
}

.pChartStats {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(var(--Primary-Color) 70deg,
            var(--Secondary-Color) 0 300deg,
            var(--Tertiary-color) 0 360deg);
}

.pChartBusiness {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(var(--Primary-Color) 10deg,
            var(--Secondary-Color) 0 180deg,
            var(--Tertiary-color) 0 360deg);
}

.pChartOccupations {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(var(--Secondary-Color) 25%,
            var(--Primary-Color) 0 45%,
            var(--Tertiary-color) 0 60%,
            var(--Light-accent-color) 0 90%,
            var(--Neutral-Color) 0 100%);
}

.pChartDemographics {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(var(--Secondary-Color) 60%,
            var(--Primary-Color) 0 85%,
            var(--Tertiary-color) 0 95%,
            var(--Light-accent-color) 0 100%);
}

/* There is probably a better way to create and organize 
these piecharts but for the sake of time I wont be doing that now */

.discoverImages {
    grid-column: 1 / -1;
    max-width: 600px;
    margin: 0 auto;
}

.discoeverImages figure {
    margin: 1rem;
}

.discoverImages figcaption {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.discoverImages img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* End of Main */
/* Start of Footer */

footer {
    background-color: var(--Dark-accent-color);
    color: var(--Lighter-accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 3rem 0;
}

footer a {
    color: var(--Lighter-accent-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--Secondary-Color);
    cursor: pointer;
}

footer section {
    padding: 1rem 2rem;
    text-align: center;
}

footer section p {
    text-align: left;
}

footer #contact h2 {
    padding-left: 8px;
}

#contact p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 360px;
    max-width: 380px;
}

#contact a {
    text-align: center;
    padding: 0.5rem 1rem;
}

footer img {
    width: 100%;
    height: auto;
}

#lastModified {
    font-size: 0.8rem;
    color: var(--Light-secondary-color);
    text-align: center;
    padding: 1rem 0;
}

.list-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--Dark-accent-color);
}