@media screen and (min-width: 640px) {
    body {
        max-width: 2400px;
        margin: 0 auto;
        padding: 0;
        background-color: var(--Dark-accent-color);
    }

    #menu {
        display: none;
    }

    nav {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    nav svg {
        display: block;
    }
    
    .navigation {
        flex-direction: row;
        max-width: 100%;
        border: 0;
    }

    .navigation li {
        border: none;
        padding: 0;
    }

    header {
        max-width: 100%;
    }

    header section {
        max-width: 100%;
    }

    main {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    #features {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        padding: 0;
        margin: 1rem 0 2rem 0;
        max-width: 1200px;
        margin: 0 auto;
    }

    .feature-tag {
        padding: 1rem;
        margin: 1rem 0 2rem 0;
        min-height: 300px;
        max-width: 210px;
    }

    .feature-tag h2 {
        text-align: center;
    }

    .feature-tag img {
        display: block;
    }

    #about #weather-widget {
        padding: 2rem 0 5px 0;
        margin: 0 auto;
        max-width: 640px;
    }

    #about #events-widget {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    #about #events-widget h2 {
        text-align: center;
        grid-column: span 2;
    }

    #about .event {
        min-height: 260px;
        margin: 8px;
    }

    #partners {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    #partners h2 {
        text-align: center;
        grid-column: span 2;
    }

    .discoverImages {
        grid-column: 2 / -1;
        max-width: 600px;
        margin: 0 auto 2rem 2rem;
    }

    .discoverImages figure:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    footer {
        background-color: var(--Dark-accent-color);
        color: var(--Lighter-accent-color);
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    footer section {
        padding: 0 2rem;
    }
    
    footer #contact {
        text-align: left;
    }
    
    footer #contact h2 {
        padding-left: 8px;
    }
    
    footer #social {
        text-align: center;
        margin: 0 auto auto auto;
    }
    
    footer img {
        width: 100%;
        height: auto;
    }

    footer #author {
        grid-column: span 2;
        text-align: center;
        padding: 1rem 0;
    }

    footer #author p {
        text-align: center;
    }
}