:root {
    --primary-color: rgb(27, 73, 73);
    --primary-light-color: rgb(241, 255, 255);
    --secondary-color: rgb(0, 99, 41);
    --accent-color: rgb(65, 37, 0);
    --light-accent-color: rgb(255, 214, 161);
    --light-text-color: white;
    --dark-text-color: black;
    --hover-color: rgb(65, 37, 0);
    --border-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 380px;
    background-color: var(--primary-light-color);
    color: var(--dark-text-color);
    font-family: 'Roboto', sans-serif;
}

html,
body {
    /* Ensures the color extends below the footer */
    min-height: 100%;
}

/* start of header */

header {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

header span {
    font-size: 2rem;
}

.profile-pic {
    width: auto;
    max-width: 100px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#mode {
    font-size: 2.5rem;
    position: absolute;
    top: 5rem;
    right: 0rem;
    padding: 0 2rem;
    cursor: pointer;
}

/* end of header */
/* start of nav */

nav {
    background-color: var(--secondary-color);
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav li,
nav a {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--hover-color);
}

nav .active {
    background-color: var(--accent-color);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#menu::before {
    content: "☰";
    font-size: 3rem;
}

#menu.open::before {
    content: "X";
    top: 2.6rem;
}

.navigation {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    gap: 1rem;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation.open {
    display: flex;
}

.open a {
    display: block;
}

/* end of nav */
/* start of main */

main {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 300px;
    max-width: 960px;
    margin: 1rem 10px;
    background-color: var(--primary-light-color);
    color: var(--dark-text-color);
}

main h1 {
    text-align: center;
    margin: 1rem 0;
    grid-column: span 2;
}

.hero {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    grid-column: span 2;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    border-radius: 3px;
}

.hero-text {
    background-color: rgba(0, 59, 3, 0.4);
    color: white;
    border-radius: 25px;
    position: absolute;
    top: 25%;
    left: 55%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
}

.card {
    background-color: var(--primary-light-color);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.card h2 {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
}

#assignments ul {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    list-style-type: none;
    padding: 1rem;
}

#assignments li {
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}

#assignemnts li:last-child {
    border-bottom: none;
}

#info {
    margin-top: 1rem;
    grid-row: 4;
}

#infodiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

#weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light-accent-color);
    border-radius: 200px;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

#weather-icon{
    width: 50px;
    height: 50px;
    margin: 0 8px;
}

#weather-seperator {
    width: 20px;
}

#weather-caption {
    text-transform: capitalize;
}

.hometown {
    grid-row: 5;
    grid-column: span 2;
    margin: 3rem 0;
}

.hometown iframe {
    width: 100%;
    height: 600px;
    border: 0;
    border-radius: 3px;
}

/* end of main */
/* start of footer */

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

footer #modified {
    font-size: 0.8rem;
    color: var(--light-accent-color);
}
/* end of footer */
/* dark mode */

body.dark-mode {
    background-color: var(--dark-text-color);
    color: var(--light-text-color);
}

header.dark-mode,
footer.dark-mode,
nav.dark-mode,
main.dark-mode {
    background-color: var(--dark-text-color);
    color: var(--light-text-color);
}

/* light mode */
body.light-mode {
    background-color: var(--primary-light-color);
    color: var(--dark-text-color);
}

header.light-mode,
footer.light-mode,
nav.light-mode,
main.light-mode {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}